@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'styles/_components.scss';
@import 'styles/_mui.scss';

body {
  background: #fff;
  height: 100vh;
}

:root {
  --color-primary-main: #F25B54;
  --color-secondary-main: #01B202;
}

* {
  outline: none !important;
}

a:hover {
  text-decoration: none !important;
}